html{
    min-height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    color: white;
    background: radial-gradient(blue,black);
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 5em
}

.game-info{
    font-size: 3em;
}

.info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin: 50px;
    justify-content: center;    
}

.card{
    position: relative;
    background-color: white;
    height: 175px;
    width: 125px;
}

.card-back{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .5s;
    backface-visibility: hidden;
}

.card-face{
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(1000px) rotateY(180deg);
    transition: transform 0.9s;
    backface-visibility: hidden;
}

.card.flip .card-back{
    transform: perspective(1000px) rotateY(-180deg);
}

.card.flip .card-face{
    transform: perspective(1000px) rotateY(0deg);
}

img{
    position: absolute;
    width: 100px;
    height: 100px;
}


@media (max-width:700px){
    .main-container{
        grid-template-columns: repeat(2,auto);
    }
}